<h2>Search Results</h2>

<ul class="thumbnails">

<% @performers["performers"].each do |performer| %>
	<li class="span4">
		<div class="thumbnail">
			<% if performer["images"]["large"].nil? %>
				<%= image_tag("brokenimage.png") %>
			<% else %>
				<%= image_tag(performer["images"]["large"]) %>
			<% end %>
			<h4 class="center"> <%= performer["name"] %> 
				<%= link_to 'Add', line_items_path(performer_id: performer["id"], name: performer["name"], ticket_url:performer["url"], image_url: performer["images"]["medium"]), :method => :post, :class=>"btn btn-primary" %>
			</h4>
		</div>
	</li>

	


<% end %>

</ul>
