<h2>Results</h2>

<p>Your query was <%= @query %></p>

<table>

<% @performers["performers"].each do |performer| %>
	<tr>
		<td>
			<%= performer["name"] %>
		</td>
		
		<td>
		  Add to my list
		</td>
	</tr>
<% end %>
</table>