<h2>Results</h2>

<p>Your query was <%= @query %></p>

<table>

<% @performers["performers"].each do |performer| %>
	<tr>
		<td>
			<%= performer["name"] %>
		</td>
		
		<td>
		  <%= link_to 'Add to my interests', line_items_path(performer_id: performer["id"], name: performer["name"], ticket_url:performer["url"], image_url: performer["images"]["medium"]), :method => :post %>
		</td>
	</tr>
<% end %>
</table>