<h2>Enter the performer you're interested in</h2>
<%= form_tag do %>
<div>
  <%= label_tag :query, 'Search' %>
  <%= text_field_tag :query, params[:query] %>
   <%= submit_tag "Search" %>
</div>
<% end %>
