/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	padding:60px;	
}

.center{
	text-align:center;
}

a.btn-primary:visited, a.btn.btn-success:visited, a.btn-danger:visited {
	 color: #fff; 
}

input.btn{
	font-family: verdana;	
}

a.normal
{
	color:blue;
	text-decoration:underline;	
}

ul.noBullets{
	list-style-type: none;	
}

.floatLeft{
	float:left;	
}

.relative{
	position: relative;	
}

.tdRight{
	text-align: right;
}

.hidden{
	display: none;
}


ul.thumbnails.per3 > li:nth-child(3n+1) {
  clear: left;
}

.table td{
	border-bottom: 1px solid #dddddd;	
}

a.imageLink:hover{
	background: whitesmoke;	
}

