<div class="well">

<h2>So, what is this?</h2>

<p>Well, first of all, thanks for coming to this page. Really, I didn't expect anyone would. I like to travel, but I constantly find myself thinking "I've always meant to go to X city. I'll go visit X city as soon as I have a good reason to." Bertelli is about combining your interests with places you're interested in visiting. You can either enter specific cities or search across the entire US, and Bertelli uses the <a href="http://www.seatgeek.com" class="normal">Seatgeek</a> API to find weekends with multiple events you might be interested in.</p>

<h2>What's your deal?</h2>

<p>I'm <a href="http://www.twitter.com/alexpelan" class="normal">@alexpelan</a>, but my friends just call me Alex Pelan. I'm a software developer living in Madison, Wisconsin right now. I made Bertelli as a way of learning Ruby on Rails. The code is freely available on <a href="https://github.com/alexpelan/Bertelli" class="normal">Github</a>. Please don't hesitate to request enhancements, fix bugs, criticize, or praise my code.</p>

<a href="mailto:alexpelan@gmail.com" class="btn"><i class="icon-envelope"></i> alexpelan@gmail.com</a>

</div>