<h2>Your Interests</h2>

<table>

<th>Performer</th> <th></th> <th>Buy tickets</th>
<% @performers.each do |performer| %>
<tr>
	<td> <%= performer.name %> </td>
	<td> <%= image_tag(performer.image_url, :height=> '32', :width => '32') %> </td>
	<td> <%= link_to "Buy tickets on Seatgeek", performer.ticket_url %> </td>
</tr>
<% end %>

</table>

<%= link_to 'Enter more interests', search_path %> 
